<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
        <link href="/css/coffee.css" rel="stylesheet" />
        <link href="/css/style.css" rel="stylesheet" />
        <link href="/css/new.css" rel="stylesheet" />
        <title>New Coffee - Jake's Food Blog</title>
    </head>

    <body>
        <header class="header">
            <a href="/" class="logo">Jake's Food Blog</a>
            <!-- add image above instead -->

            <nav class="navbar">
                <a href="/recipes">Recipes</a>
                <a href="/fruits">Fruits</a>
                <a href="/veggies">Veggies</a>
                <a href="/meats">Meats</a>
                <a href="/snacks">Snacks</a>
                <a href="/about">About</a>
                <a href="/coffee">Coffee</a>
            </nav>
        </header>

        <div class="form-container">
            <section class="contact" id="contact">
                <h2 class="heading">Add <span>New Coffee</span></h2>

                <form action="/coffee" method="POST">
                    <div class="input-box">
                        <input type="text" name="name" id="name" placeholder="Name" />
                        <input type="text" name="roast" id="roast" placeholder="Roast" />
                    </div>
                    <div class="input-box">
                        <label for="tastingNote">What is the tasting note?</label>
                        <input type="text" name="tastingNote" id="tastingNote" placeholder="Tasting Note" />
                    </div>
                    <textarea
                        name=""
                        id=""
                        cols="30"
                        rows="10"
                        placeholder="Description"
                    ></textarea>
                    <input type="submit" value="Create Coffee" class="btn" />
                </form>
            </section>
        </div>
    </body>
</html>
