<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
        <link href="/css/style.css" rel="stylesheet" />
        <title>Home - Jake's Food Blog</title>
    </head>

    <body>
        <header class="header">
            <a href="/" class="logo">Jake's Food Blog</a>
            <!-- add image above instead -->

            <nav class="navbar">
                <a href="/recipes">Recipes</a>
                <a href="/fruits">Fruits</a>
                <a href="/veggies">Veggies</a>
                <a href="/meats">Meats</a>
                <a href="/snacks">Snacks</a>
                <a href="/about">About</a>
                <a href="/coffee">Coffee</a>
            </nav>
        </header>
        <br /><br />

        <section class="home" id="home">
            <div class="home-container">
                <div class="home-box">
                    <img src="" alt="" />
                    <p>Recipes</p>
                </div>
                <div class="home-box">
                    <img src="" alt="" />
                    <p>Apples</p>
                </div>
                <div class="home-box">
                    <img src="" alt="" />
                    <p>Chicken Wings</p>
                </div>
                <div class="home-box">
                    <img src="" alt="" />
                    <p>Rice Krispies</p>
                </div>
            </div>
            <br /><br />

            <div class="home-container2">
                <div class="home-box">
                    <img src="" alt="" />
                    <p>Snacks</p>
                </div>
                <div class="home-box">
                    <img src="" alt="" />
                    <p>Asparagus</p>
                </div>
                <div class="home-box">
                    <img src="" alt="" />
                    <p>Chicken Alfredo</p>
                </div>
            </div>

            <!-- <div class="home-img">
                <img src="./images/personal-portfolio-pic-removebg-preview.png" alt="" />
            </div> -->
        </section>
    </body>
</html>
