<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
        <link href="/css/fruits.css" rel="stylesheet" />
        <link href="/css/style.css" rel="stylesheet" />
        <title>Fruits - Jake's Food Blog</title>
    </head>

    <body>
        <header class="header">
            <a href="/" class="logo">Jake's Food Blog</a>
            <!-- add image above instead -->

            <nav class="navbar">
                <a href="/recipes">Recipes</a>
                <a href="/fruits">Fruits</a>
                <a href="/veggies">Veggies</a>
                <a href="/meats">Meats</a>
                <a href="/snacks">Snacks</a>
                <a href="/about">About</a>
            </nav>
        </header>
        <br /><br />

        <section class="timeline">
            <div class="timeline-row">
                <div class="timeline-column">
                    <h2 class="title">Fruits<span class="animate" style="--i: 1"></span></h2>
                    <div class="timeline-box">
                        <% for (let index = 0; index < allFruits.length; index++ ) { %> 
                        <% let fruit = allFruits[index] %>
                        <div class="timeline-content">
                            <div class="content">
                                <div class="year"><i class="bx bxs-calendar"></i>2024 - 2025</div>
                                <h3><%= fruit.name %></h3>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui,
                                    soluta iste quas accusamus id natus!
                                </p>
                                <a href="/fruits/<%= index %>">Checkout more...</a>
                            </div>
                        </div>
                        <div></div>
                        <% } %>

                        <span class="animate" style="--i: 2"></span>
                    </div>
                </div>
            </div>
        </section>
    </body>

</html>
